:host {
    height: 100%;
}

.background {
    background-image: url(assets/images/watermark_settings.png);
    background-position: center;
    mix-blend-mode: color-dodge;
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 470px;
}

.settings-container {
    display: flex;

    .footer {
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0px;
    }
}
