:host {
    height: 100%;
}

.background {
    background-image: url(assets/images/watermark_home.png);
    background-position: center;
    mix-blend-mode: color-dodge;
    z-index: 0;
    position: fixed;
    top: 30px;
    width: 100%;
    height: 470px;
}

.setup-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100%;
    justify-content: space-between;

    .body-container {
        padding: 5px;
        flex: 1;
        display: flex;
        flex-direction: column;

        h3 {
            margin: 10px;
        }

        .steps-container {
            flex: 1;
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        margin: 10px;

        .mat-raised-button {
            margin-left: 5px;
            width: 75px;
            line-height: 35px;
        }
    }
}

.step-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;

    .instructions-container {
        padding: 10px 0;

        p {
            white-space: pre-wrap;
        }
    }

    .input-container {
        padding: 20px 0;
        display: grid;
        grid-template-columns: auto min-content;
        grid-template-rows: auto auto;

        form {
            display: flex;
            flex-direction: column;
            padding-right: 10px;

            .mat-form-field {
                height: 45px;
            }
        }

        .invalid-message {
            text-align: center;
            grid-row: 2;
        }

        .mat-raised-button {
            grid-column: 2;
            height: fit-content;
            align-self: center;
        }
    }
}
