<div class="step-container">
    <div class="instructions-container">
        <p>{{instruction}}</p>
    </div>
    <div class="input-container">
        <form [formGroup]="form">
            <mat-form-field class="normal">
                <input matInput formControlName="path" required placeholder="Arma 3 Exe" readonly="true">
            </mat-form-field>
        </form>
        <div class="invalid-message">
            <span>{{errorMessage}}</span>
        </div>
        <button mat-raised-button color="primary" (click)="browse()">Browse</button>
    </div>
    <app-flex-filler></app-flex-filler>
</div>
